In [235]:
import psycopg2
import pandas as pd
import plotly.express as px

In [284]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

connect = psycopg2.connect(
    dbname= DBNAME,
    user= USER,
    password= PASSWORD,
    host= HOST,
    port= PORT
    
    )
query = f'''select count(e.id)
    from public.EMPLOYERS as e
    left join public.EMPLOYERS_INDUSTRIES as i on e.id = i.employer_id
    where i.industry_id is null
    '''
df= pd.read_sql_query(query,connect)
display(df)
connect.close()

C:\Users\user\AppData\Local\Temp\ipykernel_23096\1443947539.py:20: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0   8419