In [105]:
import psycopg2
import pandas as pd

In [116]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

connect = psycopg2.connect(
    dbname= DBNAME,
    user= USER,
    password= PASSWORD,
    host= HOST,
    port= PORT
    
    )
query = f'''select v.experience,
    count(v.id)
    from public.VACANCIES as v
    group by 1
    order by 2 asc
    
     '''
    
    
df = pd.read_sql_query(query,connect)
display(df)
connect.close()

C:\Users\user\AppData\Local\Temp\ipykernel_23096\3547247964.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connect)

           experience  count
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152