In [46]:
import psycopg2
import pandas as pd

In [47]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

connect = psycopg2.connect(
    dbname= DBNAME,
    user= USER,
    password= PASSWORD,
    host= HOST,
    port= PORT
    
    )
query = f'''select count(id)
    from public.INDUSTRIES '''
    
    
df = pd.read_sql_query(query,connect)
display(df)
connect.close()

C:\Users\user\AppData\Local\Temp\ipykernel_23096\1928645545.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,connect)

   count
0    294