In [199]:
import psycopg2
import pandas as pd
import plotly.express as px

In [221]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

connect = psycopg2.connect(
    dbname= DBNAME,
    user= USER,
    password= PASSWORD,
    host= HOST,
    port= PORT
    
    )
query = f'''select e.name,
    count(v.id)
    from public.VACANCIES as v
    join public.EMPLOYERS as e on e.id = v.employer_id
    group by 1
    order by 2 desc
    limit 5
    '''
df= pd.read_sql_query(query,connect)
display(df)
connect.close()

C:\Users\user\AppData\Local\Temp\ipykernel_23096\2449571272.py:23: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

            name  count
0         Яндекс   1933
1     Ростелеком    491
2       Тинькофф    444
3           СБЕР    428
4  Газпром нефть    331