<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [799]:
import pandas as pd
import psycopg2
import requests
from bs4 import BeautifulSoup
import plotly.express as px

In [800]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [801]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [802]:
# текст запроса
query = f'''select count(id)
    from public.vacancies '''

In [803]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [804]:
# текст запроса
query = f'''select count(id)
    from public.EMPLOYERS '''

In [805]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0  23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [806]:
# текст запроса
query = f'''select count(id)
    from public.AREAS '''

In [807]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0   1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [808]:
# текст запроса
query = f'''select count(id)
    from public.INDUSTRIES '''

In [809]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0    294

***

In [ ]:
# выводы по предварительному анализу данных

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [810]:
# текст запроса
query = f'''select a.name,
    count(v.id)
    from public.VACANCIES as v
    join public.AREAS as a  on v.area_id = a.id
    group by 1
    order by 2 desc
    limit 5
     '''

In [811]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

              name  count
0           Москва   5333
1  Санкт-Петербург   2851
2            Минск   2112
3      Новосибирск   2006
4           Алматы   1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [812]:
# текст запроса
query = f'''select count(v.id)
    from public.VACANCIES as v
    where v.salary_from is not null or v.salary_to is not null 
     '''

In [813]:
# результат запроса
df = pd.read_sql_query(query,connection )
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\2792758036.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [814]:
# текст запроса
query = f'''select  ROUND (avg(v.salary_from)),
        ROUND(avg(v.salary_to))
    from public.VACANCIES as v
    '''

In [815]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

     round     round
0  71065.0  110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [816]:
# текст запроса
query = f'''select v.schedule,
    v.employment,
    count(v.id)
    from public.VACANCIES as v
    group by 1,2
    order by 3 desc
    
     '''

In [817]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

            schedule           employment  count
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [818]:
# текст запроса
query = f'''select v.experience,
    count(v.id)
    from public.VACANCIES as v
    group by 1
    order by 2 asc
    
     '''

In [819]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

           experience  count
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

***

In [820]:
# выводы по детальному анализу вакансий
query = f'''select *,
    a.name as region
    from public.VACANCIES as v
    join public.areas as a on v.AREA_ID = a.id
    
    
     '''
    
    
df = pd.read_sql_query(query,connection)
result = df.copy()
result.drop('name',axis=1,inplace=True)
a = result.groupby(['region'],as_index=False).agg({'area_id':'count'}).sort_values('area_id',ascending=False).iloc[:5]
display(a)

res  = px.bar(data_frame= a,
              x= 'region',
              y= 'area_id',
              height=500,
              width=1000,
              color= 'region',
              template= 'presentation',
              title= 'Сколько вакансий в каждом регионе')
res.update_layout(xaxis_title = 'РЕГИОН',
                  yaxis_title = 'КОЛ_ВО',
                  title = {'font':dict(size = 35),
                           'x':0.5,
                           }, showlegend = False)
res.update_traces(hovertemplate = 'Регион: %{x} <br> Кол-во: %{y}')
res.show()
res.write_html('write_html/graphic_1.html')

query = f'''select v.schedule,
    v.employment,
    count(v.id)
    from public.VACANCIES as v
    group by 1,2
    order by 3 desc
    
     '''
     
df= pd.read_sql_query(query,connection)
res = df.groupby(['schedule','employment'],as_index=False).agg({'count':'mean'}).sort_values('count',ascending=False).iloc[:5]
display(res)
gr = px.bar(data_frame=res,
            x='schedule',
            y= 'count',
            height = 500,
            width= 1000,
            color='employment',
            template='plotly_dark',
            title= 'количество вакансий для каждого сочетания типа рабочего графика и типа трудоустройства',
            barmode= 'group'
           )
gr.update_layout(xaxis_title = 'ГРАФИК',
                 yaxis_title = 'КОЛ=-ВО',
                 title = {'font': dict(size = 15),
                          'x': 0.5,})
gr.update_traces(hovertemplate =  'График %{x} <br> Кол-во %{y}')
gr.show()
gr.write_html('write_html/graphic_2.html')

C:\Users\user\AppData\Local\Temp\ipykernel_2988\293232022.py:11: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

              region  area_id
409           Москва     5333
564  Санкт-Петербург     2851
395            Минск     2112
457      Новосибирск     2006
21            Алматы     1892

C:\Users\user\AppData\Local\Temp\ipykernel_2988\293232022.py:43: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

            schedule           employment    count
6        Полный день     Полная занятость  35367.0
14  Удаленная работа     Полная занятость   7802.0
2      Гибкий график     Полная занятость   1593.0
17  Удаленная работа  Частичная занятость   1312.0
10    Сменный график     Полная занятость    940.0

# Выводы по детальному анализу вакансий
 __На данных графиках видно:__ что большее кол-во вакансий находится в _Москве_ и _Санкт-Петербурге_. Так же известа желаемая среднее значение ЗП для минимальной и максимальной вилок, оно составило _71065.0_ и _110537.0 тыс.руб_.__На втором графике видно__ что максимальное кол-во вакансий приходится на сочетание _Полного рабочего дня_ и _Полной занятости_. С помощью построения SQL- запроса мы выясняли что максимум вакансий в которых указан _Требуемый опыт работы_ является опыт _Более 6 лет_, на втором месте _без опыта работы_. Из этого можно сделать вывод что на рынке труда требуются специалисты с высоким стажем труда, а второе место _без опыта работы_ можно объяснить тем ,что работодатели ищут рабочих без спец. подготовки на более низкие ЗП (и таких вакансий всегда было много). Чуть меньше требуются соискатели со стажем менее 6 лет.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [821]:
# текст запроса
query = f'''select e.name,
    count(v.id)
    from public.VACANCIES as v
    join public.EMPLOYERS as e on e.id = v.employer_id
    group by 1
    order by 2 desc
    limit 5
    '''

In [822]:
# результат запроса
df= pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\568672358.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

            name  count
0         Яндекс   1933
1     Ростелеком    491
2       Тинькофф    444
3           СБЕР    428
4  Газпром нефть    331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [823]:
# текст запроса
query = f'''select a.name,
    count(e.id) as "работодатели",
    count(v.id)
    from public.AREAS as a
    left join public.EMPLOYERS as e on a.id = e.area
    left join public.VACANCIES as v on a.id = v.area_id
    where v.id is null
    group by 1
    order by 2 desc
    limit 1
    '''

In [824]:
# результат запроса
df= pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\568672358.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

     name  работодатели  count
0  Россия           410      0

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [825]:
# текст запроса
query = f'''select e.name,
    count(distinct v.area_id)
    from public.EMPLOYERS as e 
    join public.VACANCIES as v  on e.id = v.employer_id
    group by 1
    order by 2 desc
    limit 1
    '''

In [826]:
# результат запроса
df= pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\568672358.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

     name  count
0  Яндекс    181

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [827]:
# текст запроса
query = f'''select count(e.id)
    from public.EMPLOYERS as e 
    left join public.EMPLOYERS_INDUSTRIES as a on e.id = a.employer_id
    where a.industry_id is null
    '''

In [828]:
# результат запроса
df= pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\568672358.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0   8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [829]:
# текст запроса
query = f'''select e.name,
    count(distinct a.industry_id) 
    from  public.VACANCIES as v 
    join public.EMPLOYERS as e on v.employer_id = e.id
    join public.EMPLOYERS_INDUSTRIES as a on v.employer_id = a.employer_id
    group by e.name
    having count(distinct a.industry_id) = 4
    offset  2 limit 1
    '''

In [782]:
# результат запроса
df= pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\568672358.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   name  count
0  2ГИС      4

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [830]:
# текст запроса
query = f'''select  count(a.employer_id)
    from public.EMPLOYERS_INDUSTRIES as a 
    join public.INDUSTRIES as i on a.industry_id = i.id
    where i.name = 'Разработка программного обеспечения'
    '''

In [785]:
# результат запроса
df= pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\568672358.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0   3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [831]:
# код для получения списка городов-милионников
url  = 'https://ru.wikipedia.org/wiki/Города-миллионеры_России'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 YaBrowser/23.7.5.704 Yowser/2.5 Safari/537.36',
           'Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7'}

response = requests.get(url,headers=headers)
soup  = BeautifulSoup(response.text,'lxml')
content = soup.find_all('td',style = 'text-align:center')
lst  = []
for x in content:
    res = x.previous_element.find('a').text.strip()
    lst.append(res)
print(lst)

['Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург', 'Казань', 'Нижний Новгород', 'Красноярск', 'Челябинск', 'Самара', 'Уфа', 'Ростов-на-Дону', 'Краснодар', 'Омск', 'Воронеж', 'Пермь', 'Волгоград']

In [832]:
# текст запроса
query = f'''select a.name,
    count(v.id) as cnt 
    from public.VACANCIES as v 
    join public.EMPLOYERS as e on v.employer_id = e.id 
    join public.AREAS as a on v.area_id = a.id
    where e.name = 'Яндекс' and  a.name in {tuple(lst)}
    group by 1 
    union all
    select 'total',
        count(distinct v.id)
    from public.VACANCIES as v 
    join public.EMPLOYERS as e on v.employer_id = e.id 
    join public.AREAS as a on v.area_id = a.id
    where e.name = 'Яндекс' and a.name in {tuple(lst)}
    '''

In [833]:
# результат запроса
df= pd.read_sql_query(query,connection)

display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\192212943.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

               name  cnt
0             total  485
1         Волгоград   24
2           Воронеж   32
3      Екатеринбург   39
4            Казань   25
5         Краснодар   30
6        Красноярск   23
7            Москва   54
8   Нижний Новгород   36
9       Новосибирск   35
10             Омск   21
11            Пермь   25
12   Ростов-на-Дону   25
13           Самара   26
14  Санкт-Петербург   42
15              Уфа   26
16        Челябинск   22

***

In [ ]:
# выводы по анализу работодателей

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [834]:
# текст запроса
query = f'''select count(v.id) 
    from public.VACANCIES as v 
    where lower(v.name) like '%data%' or lower(v.name) like '%данн%'
    '''

In [835]:
# результат запроса
df= pd.read_sql_query(query,connection)

display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\192212943.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0   1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [836]:
# текст запрос
query = f'''  with table_1 as (select *
    from public.VACANCIES as v 
    where (lower(v.name)  like  '%data_science%')
    or (lower(v.name) like '%data_scientist%' )
    or (lower(v.name) like 'исследователь_данных%') 
    or (v.name LIKE '%ML%' and v.name NOT ILIKE '%HTML%') 
    or (lower(v.name) like '%machine_learning%') 
    or (lower(v.name) like '%машинн%обучен%'))
    
    select count(t.name)
    from table_1 as t
    where lower(t.name) like '%junior%' or lower(t.experience) like '%нет опыта%' or  lower(t.employment) like '%стажировка%'
    '''

In [837]:
# результат запроса
  
df= pd.read_sql_query(query,connection)

display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\3432893560.py:3: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0     51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [838]:
# текст запроса
query = f'''  with table_1 as (select *
    from public.VACANCIES as v 
    where (lower(v.name)  like  '%data_science%')
    or (lower(v.name) like '%data_scientist%' )
    or (lower(v.name) like 'исследователь_данных%') 
    or (v.name LIKE '%ML%' and v.name NOT ILIKE '%HTML%') 
    or (lower(v.name) like '%machine_learning%') 
    or (lower(v.name) like '%машинн%обучен%'))
    
    select count(t.id)
    from table_1 as t
    where t.key_skills is not null and (t.key_skills ILIKE '%SQL%' or t.key_skills ILIKE '%postgres%')
    '''

In [839]:
# результат запроса
df= pd.read_sql_query(query,connection)

display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\192212943.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0    201

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [840]:
# текст запроса
query = f'''  with table_1 as (select *
    from public.VACANCIES as v 
    where (lower(v.name)  like  '%data_science%')
    or (lower(v.name) like '%data_scientist%' )
    or (lower(v.name) like 'исследователь_данных%') 
    or (v.name LIKE '%ML%' and v.name NOT ILIKE '%HTML%') 
    or (lower(v.name) like '%machine_learning%') 
    or (lower(v.name) like '%машинн%обучен%'))
    
    select count(t.id)
    from table_1 as t
    where t.key_skills is not null and t.key_skills ILIKE '%Python%'
    '''

In [841]:
# результат запроса
df= pd.read_sql_query(query,connection)

display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\192212943.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0    351

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [842]:
# текст запроса
query = f'''  with table_1 as (select *
    from public.VACANCIES as v 
    where (lower(v.name)  like  '%data_science%')
    or (lower(v.name) like '%data_scientist%' )
    or (lower(v.name) like 'исследователь_данных%') 
    or (v.name LIKE '%ML%' and v.name NOT ILIKE '%HTML%') 
    or (lower(v.name) like '%machine_learning%') 
    or (lower(v.name) like '%машинн%обучен%'))
    select  ROUND(AVG(length(t.key_skills)-LENGTH(replace(t.key_skills,CHR(9),'')) +1),2)
    from table_1 as t
    where t.key_skills is not NULL
    '''

In [843]:
# результат запроса
df= pd.read_sql_query(query,connection)

display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\192212943.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   round
0   6.41

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [844]:
# текст запроса
query = f'''  with table_1 as (select *
    from public.VACANCIES as v 
    where (lower(v.name)  like  '%data_science%')
    or (lower(v.name) like '%data_scientist%' )
    or (lower(v.name) like 'исследователь_данных%') 
    or (v.name LIKE '%ML%' and v.name NOT ILIKE '%HTML%') 
    or (lower(v.name) like '%machine_learning%') 
    or (lower(v.name) like '%машинн%обучен%'))
    
    select  distinct t.experience,
    round(avg(coalesce((t.salary_from + t.salary_to)/2,t.salary_from,t.salary_to)))
    from table_1 as t
    where t.salary_to is not null or t.salary_from is not null
    group by 1
    '''

In [845]:
# результат запроса
df= pd.read_sql_query(query,connection)

display(df)
connection.close()

C:\Users\user\AppData\Local\Temp\ipykernel_2988\416317492.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

           experience     round
0       От 3 до 6 лет  243115.0
1  От 1 года до 3 лет  139675.0
2           Нет опыта   74643.0

***

In [ ]:
# выводы по предметному анализу

# Общий вывод по проекту

In [ ]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования