<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [218]:
import pandas as pd
import psycopg2

In [219]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [220]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [221]:
# текст запроса
query = f'''select count(id)
    from public.vacancies '''

In [198]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [222]:
# текст запроса
query = f'''select count(id)
    from public.EMPLOYERS '''

In [200]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0  23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [223]:
# текст запроса
query = f'''select count(id)
    from public.AREAS '''

In [224]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0   1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [225]:
# текст запроса
query = f'''select count(id)
    from public.INDUSTRIES '''

In [204]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0    294

***

In [ ]:
# выводы по предварительному анализу данных

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [226]:
# текст запроса
query = f'''select a.name,
    count(v.id)
    from public.VACANCIES as v
    join public.AREAS as a  on v.area_id = a.id
    group by 1
    order by 2 desc
    limit 5
     '''

In [206]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

              name  count
0           Москва   5333
1  Санкт-Петербург   2851
2            Минск   2112
3      Новосибирск   2006
4           Алматы   1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [227]:
# текст запроса
query = f'''select count(v.id)
    from public.VACANCIES as v
    where v.salary_from is not null or v.salary_to is not null 
     '''

In [208]:
# результат запроса
df = pd.read_sql_query(query,connection )
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\2792758036.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [228]:
# текст запроса
query = f'''select  ROUND (avg(v.salary_from)),
        ROUND(avg(v.salary_to))
    from public.VACANCIES as v
    '''

In [229]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

     round     round
0  71065.0  110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [230]:
# текст запроса
query = f'''select v.schedule,
    v.employment,
    count(v.id)
    from public.VACANCIES as v
    group by 1,2
    order by 3 desc
    
     '''

In [231]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

            schedule           employment  count
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [232]:
# текст запроса
query = f'''select v.experience,
    count(v.id)
    from public.VACANCIES as v
    group by 1
    order by 2 asc
    
     '''

In [233]:
# результат запроса
df = pd.read_sql_query(query,connection)
display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_2988\1026051134.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

           experience  count
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

***

In [235]:
# выводы по детальному анализу вакансий
import plotly.express as px
query = f'''select *,
    a.name as region
    from public.VACANCIES as v
    join public.areas as a on v.AREA_ID = a.id
    
    
     '''
    
    
df = pd.read_sql_query(query,connection)
result = df.copy()
result.drop('name',axis=1,inplace=True)
a = result.groupby(['region'],as_index=False).agg({'area_id':'count'}).sort_values('area_id',ascending=False).iloc[:5]
display(a)

res  = px.bar(data_frame= a,
              x= 'region',
              y= 'area_id',
              height=500,
              width=1000,
              color= 'region',
              template= 'presentation',
              title= 'Сколько вакансий в каждом регионе')
res.update_layout(xaxis_title = 'РЕГИОН',
                  yaxis_title = 'КОЛ_ВО',
                  title = {'font':dict(size = 35),
                           'x':0.5,
                           }, showlegend = False)
res.update_traces(hovertemplate = 'Регион: %{x} <br> Кол-во: %{y}')
res.show()
res.write_html('write_html/graphic_1.html')

query = f'''select v.schedule,
    v.employment,
    count(v.id)
    from public.VACANCIES as v
    group by 1,2
    order by 3 desc
    
     '''
     
df= pd.read_sql_query(query,connection)
res = df.groupby(['schedule','employment'],as_index=False).agg({'count':'mean'}).sort_values('count',ascending=False).iloc[:5]
display(res)
gr = px.bar(data_frame=res,
            x='schedule',
            y= 'count',
            height = 500,
            width= 1000,
            color='employment',
            template='plotly_dark',
            title= 'количество вакансий для каждого сочетания типа рабочего графика и типа трудоустройства'
           )
gr.update_layout(xaxis_title = 'ГРАФИК',
                 yaxis_title = 'КОЛ=-ВО',
                 title = {'font': dict(size = 15),
                          'x': 0.5,})
gr.update_traces(hovertemplate =  'График %{x} <br> Кол-во %{y}')
gr.show()
gr.write_html('write_html/graphic_2.html')

C:\Users\user\AppData\Local\Temp\ipykernel_2988\302811864.py:12: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

              region  area_id
409           Москва     5333
564  Санкт-Петербург     2851
395            Минск     2112
457      Новосибирск     2006
21            Алматы     1892

C:\Users\user\AppData\Local\Temp\ipykernel_2988\302811864.py:44: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

            schedule           employment    count
6        Полный день     Полная занятость  35367.0
14  Удаленная работа     Полная занятость   7802.0
2      Гибкий график     Полная занятость   1593.0
17  Удаленная работа  Частичная занятость   1312.0
10    Сменный график     Полная занятость    940.0

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [ ]:
# текст запроса

In [ ]:
# результат запроса

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [ ]:
# текст запроса

In [ ]:
# результат запроса

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [ ]:
# текст запроса

In [ ]:
# результат запроса

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [ ]:
# текст запроса

In [ ]:
# результат запроса

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
# текст запроса

In [ ]:
# результат запроса

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [ ]:
# текст запроса

In [ ]:
# результат запроса

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [ ]:
# код для получения списка городов-милионников

In [ ]:
# текст запроса

In [ ]:
# результат запроса

***

In [ ]:
# выводы по анализу работодателей

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
# текст запроса

In [ ]:
# результат запроса

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
# текст запроса

In [ ]:
# результат запроса

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
# текст запроса

In [ ]:
# результат запроса

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
# текст запроса

In [ ]:
# результат запроса

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [ ]:
# текст запроса

In [ ]:
# результат запроса

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [ ]:
# текст запроса

In [ ]:
# результат запроса

***

In [ ]:
# выводы по предметному анализу

# Общий вывод по проекту

In [ ]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования